tooltip {
	position: absolute;
	border: 1px solid rgba(0,0,0,.2);
	background-color: white;
	font-size: 80%;
	font-family: sans-serif;
	color: #222;

}

.tooltip-container > ul {
	list-style-type: none;
	padding: 5px;
	margin: 0px;
}

.tooltip-container > ul > li.head {
	background-color: #f5f5f5;
	font-size: 100%;
	font: sans-serif;
}

.tooltip-container > ul > li.title {
	color: #666;
	font-size: 60%;
	margin-top: 5px;
}

.tooltip-container > ul > li.link {
	font-size: 80%;
	margin-top: 8px;
}

.tooltip-container > ul > li > span {
	color: #666;
}

.tooltip-container > ul > li.not-current-param > span {
	color: white;
}

.helper-hide-button {
	position: absolute;
	right: 10px;
    top: 5px;
    cursor: pointer;
}
